<%=flash[:message]%>
<h1> Check out what others have in their Closets!<h1><br>

<h4><ul>
<% @outfits.each do |o| %>
    <li><a href="/outfits/<%=o.id%>"><%= o.name %> </a></li><br>
    <% end %>
</ul></h4>