<h1> create a from here to add a new outfit </h1>

<form action="/outfits" method="post">
  <label>Outfit Name: </label>
  <input type="text" name="outfit[name]">
  <label>Top: </label>
  <input type="text" name="outfit[top]">
  <label>Bottoms: </label>
  <input type="text" name="outfit[bottom]">
  <label>Shoes: </label>
  <input type="text" name="outfit[shoes]">
  <label>Accessories: </label>
  <input type="text" name="outfit[accessories]">
  <input type="submit">
</form>