<h3>Sign Up</h3>
<form action="/signup" method="post">
  <input type="text" name="user[username]" placeholder="username">
  <input type="text" name="user[password]" placeholder="password">
  <input type="submit" value="Sign Up">
</form>