<h1>Uh Oh! Something went wrong.</h1>

<p>It seems as though you are not logged in!</p><br>
<p>When logging in, make sure your username and password are correct.</p>
<p>When signing up, make sure you've properly filled out your new username and password.</p>
<p><a href="/login">Log In</a></p>
<p><a href="/signup">Sign Up</a></p>